$accent-colour: rgba(0, 8, 7, 1);
$accent-alt-colour: rgba(162, 163, 187, 1);
$secondary-alt-colour: rgba(147, 149, 211, 1);
$secondary-colour: rgba(179, 183, 238, 1);
$primary-colour: rgb(255, 255, 255);

$disable-colour: rgba(80, 81, 79, 1);
$error-colour: rgba(242, 95, 92, 1);
$warn-colour: rgba(255, 224, 102, 1);
$live-colour: rgba(36, 123, 160, 1);
$info-colour: rgba(112, 193, 179, 1);
